<div class="sidebar">
        
        <div class="sidebar-section">
            <h5><span>Newsletter</span></h5>
            {% include newsletter.html %}
        </div>
            
        <div class="sidebar-section">
            <h5><span>Endereço</span></h5>
            <ul style="list-none;">
            <li>Rua Pedro Morganti, 76</li>
            <li>Vila Mariana, CEP: 04020-070</li>     
            <li>São Paulo - SP</li>
            </ul>
        </div>
            
                <div class="sidebar-section">
            <h5><span>Horários</span></h5>
            <ul style="list-none;">
            <li>Domingos: 08h às 12h</li>
            </ul>
        </div>
            
                <div class="sidebar-section">
            <h5><span>Links</span></h5>
            <ul style="list-none;">
         <li><a target="blank" href="https://www.facebook.com/PaldenShangpa/">Facebook - Sangha SP</a></li>
         <li><a target="blank" href="https://www.facebook.com/kpgbrasilia/">Facebook - Sangha DF</a></li>
         <li><a target="blank" href="https://soundcloud.com/sanghakpg/">Soundcloud</a></li>

                    
            </ul>
        </div>        
        
        
        
</div>
